/* navbar-nav, me-auto {
    display: flex;
    align-items: flex-end;
    float: right !important;
    background-color: red !important;
} */
.navbar {
    z-index: 10;
}
.logo{
    /* position: absolute; */
    /* margin-top: .4rem; */
    height: 3.5rem;
    margin-left: 0.5rem;
    width: auto;
}