.footer {
    background: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.footer * {
    color: #fff;
    /* background-color: #50504f; */
}
.footer .copyright {
    text-align: center;
    font-size: .8rem;
    margin: 0 10px;
}
.footer .social-networks {
    display: flex;
    justify-content: center;
    margin-bottom: .6rem;
    margin-top: .6rem;
    /* text-align: center; */
}
.footer .social-networks a {
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    background: #50504f;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}