footer {
    background: black;
    position: absolute;
    bottom: -133rem;
    /* bottom: 0; */
    left: 0;
    right: 0;
    z-index: 2;
}

footer * {
    color: #fff;
    /* background-color: #50504f; */
}
footer .copyright {
    text-align: center;
    font-size: .8rem;
    margin-bottom: 10px;
}
footer .social-networks {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* text-align: center; */
}
footer .social-networks a {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background: #50504f;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2.4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}