.accordion {
    border: none !important;
}

.accordion__filter {
    /* position: relative; */
    /* position: absolute; */
    /* max-width: fit-content; */
    width: 12rem;
    /* left: 5rem; */
    /* top: 18rem; */
}
.accordion-header {
    border-bottom: 2px solid lightgrey;
    font-weight: bold;
}
.accordion-button{
    font-size: 1.2rem !important;
}
.accordion-button:focus{
    border: none !important;
    border-color: transparent !important;
    outline: 0;
    box-shadow:none !important;
}
.accordion-button:not(.collapsed),
.accordion-header {
    background-color: white !important;
}
.accordion-flush .accordion-item:first-child {
    border-top: 0;
}
.accordion-item {
    border: none !important;
}
.price__label {
    width: 2.6rem;
}
.accordion-body {
    height: auto;
    margin-bottom: 5rem;
}
.price__filter__input {
    width: 6rem;
    outline: none;
    margin-left: .8rem;
    border: 1px solid #aaa7;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.filter__price__btn {
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    border-radius: 10px;
    color: white;
    background-color: black;
    float: right;
    /* position: absolute;
    right: 1rem; */
}
button {
    border: none;
}
.category__filter__id {
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.3s;
}
.category__filter__id:hover {
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 668px) {
   
    .accordion__filter {
       display: none;
    }

}