
.products__container {
    position: absolute;
    top: 15rem;
    right: 0;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: fit-content;
    padding-bottom: 3rem;
    margin: 2rem auto 5rem auto;
    float: right;
    z-index: 2;
}