
.home {
    width: 100%;
    height: fit-content;
}
.conatiner__prd {
    display: flex;
}
.products__body__container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    top: 13rem;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.products__container {
    /* position: absolute; */
    top: 16rem;
    right: 1rem;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: fit-content;
    margin-left: 2rem;
    float: right;
    z-index: 2;
    padding-bottom: 3rem;
}

.filter__criteria__message {
    font-size: 2rem;
    position: absolute;
    top: 10rem;
    text-align: center;
}

@media screen and (max-width: 668px) {
    .products__container {
        width: 100%;
        margin: 0 auto;
    }
}
