.logout__container,
.login__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.login__card {
    position: relative;
    /* top: 8rem; */
    width: 25rem;
    height: 28rem;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(255, 255, 255);

}
.login__test__data {
    background-color: rgb(80, 79, 79);
    border-radius: 10px;
    padding: .6rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}
.login__test__data h5 {
    color: white !important;
}
.test__data {
    display: flex;
    gap: .5rem;
}
.test__data p,
.icon { 
    text-transform: lowercase !important;
    color: white !important;
}
.login__inputs {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}
.login__btn {
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 4px;
    height: 2rem;
    margin-top: .5rem;
}
#email, 
#password {
    outline: none;
}
.logout__card {
    position: relative;
    top: 10rem;
    width: 25rem;
    height: 16rem;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
}
.img__container {
    position: relative;
    background-color: black;
    padding-top: 1.5rem;
    height: 10rem;
    width: 100%;
    top: 0;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.logout__card img {
    width: 7rem;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}
.logout__card h4 {
    margin-top: 1rem;
}


.logout__card button {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none !important;
    /* position: relative; */
    bottom: 2rem;
    margin: 0 auto;
}