.similar__products__container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}
.produc__id__container {
    width: 80%;
    margin: 0 auto;
    top: 0;

}
.product__description__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2rem auto;
}
.product__descripton__detail__container{
    /* padding-top: 6rem;
    padding-left: 3rem; */
    width: 50%;
    height: 300px;
    /* height: fit-content; */
    padding: 3rem 2rem;
}
ProductDescriptionImages {
    width: 50%;
}
.img-fluid{
 height: 300px !important;
 object-fit: contain;
}
.carousel, .slide,
.carousel-dark{
    width: 700px;
    height: 500px !important;
    object-fit: contain;

}
.carousel-img,
.carousel-item {
    width: 600px;
    height: 500px !important;
    object-fit: contain;
}
.carousel-inner {
    margin-top: 6rem;
}