.similar__products__container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}
.produc__id__container {
    width: 80%;
    margin: 0 auto;
    top: 0;

}
.product__description__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2rem auto;
}
.product__descripton__detail__container{
    /* padding-top: 6rem;
    padding-left: 3rem; */
    width: 100%;
    /* height: fit-content; */
    padding: 3rem 2rem;
}
.quantity__container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin: .5rem 0;
    border: 2px solid lightgrey;
}
.quantity__icon {
    width: 2.5rem;
    text-align: center;
    cursor: pointer;
    border: 2px solid lightgrey;
}
.quantity__number {
    width: 4rem;
    text-align: center;
    border: 2px solid lightgrey;
    
}
.carousel__container {
    width: 100%;
    height: auto;
    margin: 0 3rem;
}
.carousel-inner {
    width: 100% !important;
}
.carousel-control-prev {
    /* margin-right: 2rem !important; */
    padding-right: 3rem !important;
    width: 20% !important;
}
.carousel-control-next {
    padding-left: 3rem !important;
    width: 20% !important;
}
.product__description__btn {
    width: 100%;
    height: 4.5rem;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;
    cursor: pointer;
}
