@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
    display: block;
}
h1, h2, h3, h4, p, ul {
    text-transform: capitalize !important;
    letter-spacing: normal !important;
}
ul {
    list-style: none;
    padding-left: 0 !important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        --bs-gutter-x: 0 !important;
}
button {
    border: none;
    font-family: inherit;
    cursor: pointer;
}
a {
    text-decoration: none;
    font-family: inherit;
}
.App {
    position: relative;
    /* background-color: red; */
    padding-bottom: 20rem;
    /* height: fit-content !important; */
}
.search__section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 9rem;
    margin: 0 auto;
    font-size: 1rem;
    width: 80%;
    height: 3.4rem;
    /* border: 1px solid black; */
    /* border: 1px solid #aaa7; */
    z-index: 1;

}
.search__input__container {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 3rem;
    display: flex;
    width: 30rem;
}
.searchInput {
    position: relative;
    display: flex;
    top: 0rem;
    font-size: 1rem;
    width: 30rem;
    height: 93%;
    outline: none;
    border: 1px solid #aaa7;
    padding-inline-start: 1rem;
}
.search__icon {
    position: absolute;
    right: 0;
}


.nav-link {
    color: white !important;
}

@media screen and (max-width: 668px) {
   
    .search__input__container {
        width: 22rem;
    }
}

